@import 'media_queries';

@media (max-width: #{$tablet-width}) {

.item, .contactWithUs{
  width: 94%;
  margin: 3%;
}

}

@media (min-width:#{$tablet-width+1px}) and (max-width:#{$desktop-width}) {

  .item, .contactWithUs{
    width: 46%;
    margin: 2%;
  }
  .contactWithUs{
    margin-top: 7%;
  }

}

@media (min-width:#{$desktop-width+1px}) {

  .item, .contactWithUs{
    width: 46%;
    margin: 2%;
  }
  .contactWithUs{
    margin-top: 7%;
  }

}



.frame{
  background-color: inherit;
  h2{
      font-family: 'Oswald', sans-serif;
      color: #ff0066;
      text-align: center;
  }
  h3,p{
    text-align: center;
  }
}

.item, .contactWithUs{
  background-color:white;

  h3{
    font-family: 'Oswald', sans-serif;
    color: black;
  }
}

.item__form{
  width: 100%;
  cursor: default;
}

.item__form:hover{
  background-color: #d6d6c2;
}

.item__form:focus{
  outline: none;
  background-color: #d6d6c2;
}


.send{
  width: 50%;
  padding: 2%;
  background-color: #ff0066;
  border: 3px solid #ff0066;
  color: grey;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  float: right;
  margin: 10px;
}

.send:hover{
  opacity: 0.7;
  outline: none;
}
