@import 'media_queries';

@media (max-width: #{$tablet-width}) {
  .footer{
    width: 100%;
  }
  .iconBox {
    width: 100%;
  }
}

@media (min-width:#{$tablet-width+1px}) and (max-width:#{$desktop-width}) {
  .footer{
    width: 100%;
    background: black;
  }
  .iconBox {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width:#{$desktop-width+1px}) {
  .footer{
    width: 100%;
    background: black;
  }
  .iconBox {
    width: 80%;
    margin: 0 auto;
  }
}


.iconBox {
  height: 100px;
  background-color: black;
  color: white;
  padding: 1%;
  text-align: center;
  position: relative;
  p{
    color: white;
  }
}
.iconSocial {
  font-size: 30px;
  color:  #575757;
  padding-right: 2px;
  padding-left: 2px;
  float:left;
  text-align: center;
}
.iconSocial:hover {
  color: #626262;
}
.textFooter {
  float: right;
  line-height: 10px;
  font-size: 11px;
	text-transform: uppercase;
  text-align: right;
	color: black;
  padding: 1%;
}
