@import 'media_queries';

@media (max-width: #{$tablet-width}) {

  .showMap{
    position: relative;
    font-family: 'Oswald', sans-serif;
    h2{
      color: #ff0066;
      text-align: center;
      background-color: inherit;
      padding: 10px 0px;
    }
    p{
      text-indent: 50px;
      text-align: justify;
    }
  }

  .list__ul{
    width: 10%;
    left: 17%;
    top: 8%;
    font-size: 20px;
    padding: 0px;
    .list__li{
      padding: 4px;
      letter-spacing: 2px;
      font-size: 12px;
    }
  }
}

@media (min-width:#{$tablet-width+1px}) and (max-width:#{$desktop-width}) {

  .showMap{
    position: relative;
    font-family: 'Oswald', sans-serif;
    width: 90%;
    margin: 0 auto;
    h2{
      color: #ff0066;
      text-align: center;
      background-color: inherit;
      padding: 10px 0px;
    }
    p{
      text-indent: 50px;
      text-align: justify;
      letter-spacing: 3px;
      strong{
        color: #03a3a3;
      }
    }
  }

  .list__ul{
    width: 20%;
    left: 35%;
    top: 8%;
    font-size: 20px;
    padding: 0px;
    .list__li{
      padding: 10px;
      letter-spacing: 2px;
    }
  }
}

@media (min-width:#{$desktop-width+1px}) {
  .showMap{
    position: relative;
    font-family: 'Oswald', sans-serif;
    width: 80%;
    margin: 0 auto;
    h2{
      text-align: center;
      padding: 30px 0;
      letter-spacing: 4px;
      color: #ff0066;
    }
    p{
      text-indent: 50px;
      text-align: justify;
      letter-spacing: 3px;
      strong{
        color: #03a3a3;
      }
    }
  }

  .list__ul{
    width: 25%;
    left: 45%;
    top: 8%;
    font-size: 20px;
    padding: 0px;
    .list__li{
      padding: 10px;
      letter-spacing: 2px;
    }
  }
}

.YOUR-CLASS-NAME:hover{
  transform:perspective(300px);
  animation:animacjaMarkera 4s linear infinite;
}

@keyframes animacjaMarkera
{
  0% { transform:perspective(300px) rotateY(0); }
  100% { transform:perspective(300px) rotateY(360deg); }
}


.list__ul{
  position: relative;
  .list__li{
    display:block;
    outline:0;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    margin: 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-family: 'Oswald', sans-serif;
  }
}

.boxs{
  display: block;
  padding: 0px;
}

.boxYellow{
  overflow: hidden;
  background-color: yellow;
}

.boxPink{
  overflow: hidden;
  background-color: pink;
}

.boxBlue{
  overflow: hidden;
  background-color: blue;
}

.boxRed{
  overflow: hidden;
  background-color: red;
}
