@import 'media_queries';
@import 'gallery';
@import 'location';
@import 'findFlat';
@import 'contact';


@media (max-width: #{$tablet-width}) {

//       <----------INVESTMENT---------->
  .nav {
    font-size: 18px;
  }
  .invest{
    width: 100%;
    height: 400px;
  }
  article {
    border: 10px solid rgba(255, 255, 255, 0.5);
    border-top: 80px solid rgba(255, 255, 255, 0.5);
    height: 380px;
  }
  h1 {
    top: 20%;
    font-size: 40px;
  }

}

@media (min-width:#{$tablet-width+1px}) and (max-width:#{$desktop-width}) {

//      ------ NAV Scroll to Sections ------
  .nav {
    font-size: 20px;
  }
  .invest{
    width: 100%;
    height: 500px;
  }
  .decoration{
    border-right: 1px solid rgba(0,0,0,.1);
  }
  article {
    border: 10px solid rgba(255, 255, 255, 0.5);
    border-top: 40px solid rgba(255, 255, 255, 0.5);
    height: 480px;
  }
  h1 {
    top: 40%;
    font-size: 50px;
  }


}

@media (min-width:#{$desktop-width+1px}) {

//      ------ NAV Scroll to Sections ------
  .nav {
    font-size: 22px;
    letter-spacing: 3px;
  }
  .invest{
    width: 100%;
    height: 600px;
  }
  .decoration{
    border-right: 1px solid rgba(0,0,0,.1);
  }
  article {
    border: 10px solid rgba(255, 255, 255, 0.5);
    border-top: 40px solid rgba(255, 255, 255, 0.5);
    height: 580px;
  }
  h1 {
    top: 40%;
    font-size: 50px;
  }

}


body {
  margin: 0px;
  background: inherit;
}

//      ------ NAV Scroll to Sections ------
.nav {
  background-color: inherit;
  visibility:visible;
  position: fixed;
  height: 10%;
  width: 100%;
  z-index: 100;
}

.decoration {
  color: black;
  background: inherit;
  font-family: 'Oswald', sans-serif;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
  margin-top: 0;
  z-index: -1;
}

h1 {
  position: absolute;
  width: 100%;
  letter-spacing: 4px;
  color: #ff0066;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}


.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.navList  {
  margin:0 auto;
  padding: 0;
  list-style: none;
  height: 20%;
  text-align: center;
}

.decoration {
  float:right;
  padding: 3px 0px;
  text-decoration: none;
  font-weight: bold;
}

.hover:hover {
  color: #ff0066;
  z-index: 200;
}

.locations{
  width: 100%;
  background-image: url(../photos/baby.jpeg);
  background-size: cover;
  background-position: top;
}

.offerFlats{
  width: 100%;
  background-color: white;
  border-top: 1px solid white;
}

.storey{
  width: 100%;
  height: 600px;
  background:pink;
}

.contact{
  width: 100%;
  background: white;
}

// .footer{
//   width: 100%;
//   color:white;
// }





// ///////////////////// FONT 'LATO' ////////////////////////////////
//
// /* latin-ext */
// @font-face {
//   font-family: 'Lato';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
//   unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
// }
// /* latin */
// @font-face {
//   font-family: 'Lato';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
// }
// ///////////////////// RWD ////////////////////////////////
// $tablet-width: 768px;
// $desktop-width: 1024px;
// $columnNo: 12;
// $gutter: 20px;
//
// @mixin tablet {
// 	@media (min-width: #{$tablet-width}) {
// 		@content;
// 	}
// }
//
// @mixin desktop {
// 	@media (min-width: #{$desktop-width}) {
// 		@content;
// 	}
// }
//
// * {
// 	box-sizing: border-box;
// }
//
// .container {
// 	width: 100%;
// 	max-width: 1200px;
// }
//
// .row:before,
// .row:after {
// 	content: '';
// 	clear: both;
// 	display: block;
// }
//
// [class*=col-]{
// 	float: left;
// 	padding: 0 $gutter;
//
// 	&.collapsed {
// 		padding: 0;
// 	}
// }
//
// @for $i from 1 through $columnNo {
// 	.col-sm-#{$i} {
// 		width: 100/$columnNo * $i + %;
// 	}
// }
//
// @include tablet {
// 	@for $i from 1 through $columnNo {
// 		.col-md-#{$i} {
// 			width: 100/$columnNo * $i + %;
// 		}
// 	}
// }
//
// @include desktop {
// 	@for $i from 1 through $columnNo {
// 		.col-lg-#{$i} {
// 			width: 100/$columnNo * $i + %;
// 		}
// 	}
// }
//
// ////////////////////////////////////////
//
// body{
// 	font-family: 'Lato';
//   background-image: url('../photos/background.jpg');
// }
//
// ///////////////////// MENU AT THE TOP OF THIS PAGE ////////////////////////////////
// .top{
// 	position: absolute;
// 	width: 100%;
//   height: 100%;
// 	z-index: 1;
// 	top: 0;
// 	left: 0;
// }
//
// .row{
// 	text-align: center;
//
// 	:after{
// 		content: '';
// 		display: table;
// 		clear: both;
// 	}
// 	:before{
// 		content: '';
// 		display: table;
// 		clear: both;
// 	}
//
// 	.large{
// 		font-size:18px!important
// 	}
//
// 	.light-grey{
// 		color:#000!important;
// 		background-color:#d8d2d2!important
// 	}
// }
//
// .button{
// 	display:inline-block;
// 	outline:0;
// 	padding:8px 16px;
// 	vertical-align:middle;
// 	overflow:hidden;
// 	text-decoration:none;
// 	color:inherit;
// 	background-color:inherit;
// 	text-align:center;
// 	cursor:pointer;
// 	white-space:nowrap;
// }
//
// .button:hover{
// 	color:#000!important;
// 	background-color:#878080!important;
// }
//
// .logo{
// 	position: relative;
// 	background-image: url('../photos/neoBlockWarsow.png');
// 	background-size: 200px 200px;
// 	background-position: center;
//   width: 200px;
//   height: 100px;
//   left: 50%;
//   transform: translate(-100px, 0px);
// }
//
// .page{
// 	width: 80%;
// 	margin: 0 auto;
//   height: 100%;
// }
// ///////////////////// SLIDE SHOW ////////////////////////////////
//
// .slider {
//   height: 100%;
//   width: 80%;
//   margin: 0 auto;
//   position: absolute;
//
//
//   .slide_One {
//     height: 100%;
//     width: 100%;
//     background-image: url('../photos/top-slide-01.jpg');
//     background-size: cover;
//     background-position: center;
//   }
//
//   .slide_Two {
//     height: 100%;
//     width: 100%;
//     background-image: url('../photos/top-slide-02.jpg');
//     background-size: cover;
//     background-position: center;
//   }
//
//   .slide_Three {
//     height: 100%;
//     width: 100%;
//     background-image: url('../photos/top-slide-03.jpg');
//     background-size: cover;
//     background-position: center;
//   }
//
//   // Arrows
//   .nextArrow {
//     position: absolute;
//     top: 50%;
//     right: 2%;
//     cursor: pointer;
//     transition: all ease-in .2s;
//     color: #fff;
//     background-image: url('../photos/arrow_right.png');
//     background-size: contain;
//     width: 120px;
//     height: 100px;
//
//
//     &:hover {
//       opacity: 0.5;
//       transform: scale(1.4);
//       transition: all ease-in .2s;
//     }
//   }
//
//   .backArrow {
//     position: absolute;
//     top: 50%;
//     left: 2%;
//     cursor: pointer;
//     transition: all ease-in .2s;
//     color: #fff;
//     background-image: url('../photos/arrow_left.png');
//     background-size: contain;
//     width: 120px;
//     height: 100px;
//
//
//     &:hover {
//       opacity: 0.5;
//       transform: scale(1.4);
//       transition: all ease-in .2s;
//     }
//   }
// }
//
// ///////////////////// lOCALIZATION ////////////////////////////////
//
// .list__ul{
//   border: 1px solid rgb(185, 21, 129);
// }
//
// .list__li{
//   display:block;
// 	outline:0;
// 	vertical-align:middle;
// 	overflow:hidden;
// 	text-decoration:none;
// 	color:inherit;
// 	background-color:inherit;
// 	text-align:center;
// }
//
// .boxs{
//   display: block;
//   padding: 0px;
// }
//
// .boxYellow{
//   overflow: hidden;
//   background-color: yellow;
//
// }
//
// .boxPink{
//   overflow: hidden;
//   background-color: pink;
// }
//
// .boxBlue{
//   overflow: hidden;
//   background-color: blue;
// }
//
// .boxRed{
//   overflow: hidden;
//   background-color: red;
// }
//
// ///////////////////// OFFER FLATS ////////////////////////////////
// .flats__search{
//   color:#000!important;
//   background-color:#e5e3e3!important;
//   padding:8px 26px;
//   margin-bottom: 3px;
// 	vertical-align:middle;
// 	overflow:hidden;
// 	text-decoration:none;
// 	color:inherit;
// 	background-color:inherit;
// 	text-align:center;
// 	white-space:nowrap;
//
// }
//
// .flats {
//   width: 100%;
//   background-image: url('../photos/baby.jpeg');
//   background-position: center;
//   background-size: cover;
// }
//
// .flats__tr {
//   color: rgb(185, 21, 129);
// }
//
// ///////////////////// GALLERY ////////////////////////////////////
//
// .tiles {
// 	padding: 6vh 10vw;
// 	display: flex;
// 	flex-wrap: wrap;
// 	flex-direction: row;
// 	justify-content: center;
// 	position: relative;
//   border: 2px solid rgb(185, 21, 129);
// }
// .tile {
// 	margin: 10px;
// 	cursor: pointer;
// 	overflow: hidden;
// 	width: 18vw;
// 	height: 18vw;
// 	img {
// 		width: 100%;
// 		transition: transform 500ms ease;
// 		&:hover {
// 			transform: scale(1.1);
// 		}
// 	}
// }
//
// ///////////////////// STOREY ///////////////////////////////////
// .image{
//   margin: 0 auto;
//   width: 100%;
//
// }
//
// ///////////////////// CONTACT ////////////////////////////////
//
// .frame{
//   border:2px solid rgb(185, 21, 129);
// }
//
// .item__form{
//   width: 100%;
//   cursor: default;
// }
//
// .item__form:hover{
//   background-color: #d6d6c2;
// }
//
//
// .send{
//   width: 100%;
//   padding: 2%;
//   background-color: rgb(185, 21, 129);
//   color: grey;
//   box-shadow: 10px 6px 16px -4px rgba(0,0,0,0.75);
//   border-radius: 10px 10px 10px 10px;
//   cursor: pointer;
// }
//
// .send:hover{
//   opacity: 0.7;
// }
//
//
// /// FOOTER ///
// .iconBox {
//   padding: 1%;
//   text-align: center;
//   position: relative;
//
// }
// .iconSocial {
//   font-size: 30px;
//   color:  #575757;
//   padding-right: 2px;
//   padding-left: 2px;
//   float:left;
//   text-align: center;
// }
// .iconSocial:hover {
//   color: #626262;
// }
// .textFooter {
//   float: right;
//   line-height: 10px;
//   font-size: 11px;
// 	text-transform: uppercase;
//   text-align: right;
// 	color: black;
//   padding: 1%;
// }
